.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.logo__imagem{
    padding-left: 1em;
}

.container {
    display: flex;
    align-items: center;
}

.container__image, .container__logo {
    padding: 1em 1em;
}

.cabecalho__menu-hamburger{
    width: 48px;
    height: 48px;
    background-image: url("../img/header/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao, .logo__titulo, .menu-opcoes{
    display: none;
}

.lista-menu {
    display: none;
    background-color: var(--cor-branco);
    width: 60vw;
    position: absolute;
    top:100%;
    z-index: 99;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburger{
    background-image: url("../img/header/Menu_Aberto.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--cor-azul-degrade);
}

.lista-menu__titulo{
    color: var(--cor-laranja);
    padding: 1.5em 0 0.5em 0;
    font-weight: 700;
}

.lista-menu__item, .lista-menu__titulo {
    padding: 1.5em 2em;
}

.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__texto{
    display: none;
}

@media  screen and (min-width:1024px) {

    .logo{
        display: flex;
        column-gap: 0.5em;
        padding-left: 3em;
    }

    .logo__titulo{
        display: block;
        font-family: var(--fonte-logo);
        font-size: 30px;
        font-weight: 400;
        padding-top: 0.5em;
    }

    .logo__titulo--bold{
        font-weight: 700;
    }

    .cabecalho__menu-hamburger, .container__image--transparente,.menu-opcoes__botao{
        display: none;
    }

    .menu-opcoes{
        display: flex;
        align-items: center;
    }

    .menu-opcoes__item{
        padding: 1em 2em;
        text-transform: uppercase;
        cursor: pointer;
    }

    .menu-opcoes__nome{
        text-decoration: none;
        color: var(--cor-preto);
    }
    
    .menu-opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .container__image{
        padding: 0 3em 0 1em;
    }

    .menu-opcoes__botao:checked~.menu-opcoes__rotulo>.menu-opcoes__item{
        background: var(--cor-azul-degrade);
        color: var(--cor-branco);
    }

    .lista-menu{
        top:85%;
    }

    .lista-menu__item:hover, .lista-menu__item:active, 
    .menu-opcoes__item:hover, .menu-opcoes__item:active{
        background: var(--cor-azul-degrade);
        color: var(--cor-branco);
    }

    .lista-menu__item:hover>.lista-menu__link,
    .menu-opcoes__item:hover>.menu-opcoes__nome{
        -webkit-text-fill-color: var(--cor-branco);
    }
}

@media  screen and (min-width:1728px) {

    .menu-opcoes{
        margin:0 auto 0 3em;
    }

    .cabecalho__link{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__image{
        padding: 0 1em;
    }

    .container__texto{
        display: block;
        padding-right: 3em;
    }
}