.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__image {
    padding: 0 1em;
}

.cabecalho__menu-hamburger{
    width: 48px;
    height: 48px;
    background-image: url("../img/header/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao{
    display: none;
}

.lista-menu {
    display: none;
    background-color: var(--cor-branco);
    width: 60vw;
    padding: 0 1.5em;
    position: absolute;
    top:100%
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo{
    color: var(--cor-laranja);
    padding: 1.5em 0 0.5em 0;
    font-weight: 700;
}

.lista-menu__item {
    padding: 1.5em 0 1em 0;
}

.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}