.topicos-recentes{
    background: var(--cor-azul-degrade);
    color: var(--cor-branco);
}

.topicos-recentes__titulo{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding: 1em 0;
}

.lista__topicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.topicos__itens{
    background: var(--cor-laranja);
    font-size: 14px;
    font-weight: 700;
    padding: 1em 1.5em;
    margin: 0.5em 0.5em;
}

.topicos__link{
    text-decoration: none;
    color: var(--cor-branco);
}

@media  screen and (min-width:1024px) {
    .topicos-recentes__titulo{
        font-size: 24px;
        padding: 2em 0;
    }

    .topicos__itens{
        font-size: 24px;
    }
}

@media  screen and (min-width:1024px) {
    .topicos-recentes__titulo{
        font-size: 32px;
    }

    .lista__topicos{
        width: 60%;
        margin: 0 auto;
        padding-bottom: 4em;
    }
}